<html lang="en">
<head>
    <title>Playlist Analyser for Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">// <![CDATA[
      $(document).ready(function() {

        $( "#trigger").click(function(){
          $("#loading").show();
          $("#loading-text").show();
          $("#content").hide();
        });

      });
// ]]></script>

</head>
<body>
    <h1>Playlist Analyser for Spotify</h1>
    <br>

    {% if logged_in %}
    <div id="loading"></div>
    <div id="loading-text">
      <h3>Analysing playlist ...</h3>
      <h3>This may take a few minutes...</h3>
    </div>
    <div id="content">
      <h2>Enter your Spotify URI or Playlist Link below</h2>
      <form action="/playlists" method="post">
      {% for i in range(0,playlist_number) %}
        <input type="text" name="{{ 'playlist_uri' + i|string }}" value="" style="width: 600px;">
        <br>
      {% endfor %}
        <div id=trigger>
          <input type="submit" value="Go! ">
        </div>
      </form>
    </div>
    </script>

    {% else %}
      <h2>Log into Spotify to access your playlists</h2>
        <form action="/login">
        <input type="submit" value="Login to Spotify" />
      </form>
    {% endif %}


</body>
