<html lang="en">
<head>
    <title>Playlist Analyser for Spotify</title>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.io/pygal.js/latest/pygal-tooltips.js"></script>
</head>
<body>
    <h1>Playlist Analyser for Spotify</h1>
    <h2>Processed Data</h2>
      {{ dates_chart.render()|safe }}
      <br>
      {{ duration_chart.render()|safe }}
      <br><br><br>
    <h2>Raw Data</h2>
    <h3>Tracks</h3>
    {# {% for key in data %}
      <h3> {{ "Playlist" + key|string}}</h3>
      {% for item in key %}
        <br>{{item.track[0]}}
      {% endfor %}
    {% endfor %}
    <br>
    ------------
    <h3>Artists</h3>

    <br>
    ------------
    <h3>Dates</h3>
    {% for key in data %}
      <h3> {{ "Playlist" + key|string}}</h3>
      {% for item in data %}
        <br>{{item.date}}
      {% endfor %}
    {% endfor %}
    <br>  #}
    ------------
</body>
</html>
